body {
background-color: linen;
}

h1 {
  font-size: 700%;
}

header {
  border: 2px solid black;
  margin: 5px;
  padding: 8px;
  background: blue;
  color: green;
  text-decoration: underline;
  text-shadow: 2px 2px red;
}

p.top {
  font-size: 200%;
}
