body {
background-color: radial-gradient(red, green, blue);
text-align: center;
font-family: Verdana, sans-serif;
}

h1 {
  font-size: 700%;
}

header {
  border: 6px solid black;
  margin: 5px;
  padding: 8px;
  background: blue;
  color: green;
  text-decoration: underline;
  text-shadow: 2px 2px red;
}

p.top {
  font-size: 400%;
  font-style: italic;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 10px; 
}

a:link {
  color:red;
  text-decoration: none;
  background-color: yellow;
}

a:visited {
  color: blue;
  text-decoration: line-through;
  background-color: yellow;
}

a:hover {
  color: green;
  text-decoration: underline;
  background-color: red;
}

a:active {
  color: purple;
  text-decoration: underline;
  background-color: red;
}

nav {
  border: 2px solid black;
  margin: 5px;
  padding: 8px;
  background: white;
  font-size: 200%;
}

article {
  border: 2px solid black;
  margin: 5px;
  padding: 8px;
  background: white;
}
